body {
	background-image: url("images/seacopy.jpg");
	background-attachment: fixed;
	height:300px;
	width: 300px;
	overflow:scroll;
}

IMG.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: Helvetica;
	font-size: 1.3em;
}

h2 {
	font-family: Arial;
	font-size: 1.1em;
}

h3 {
	font-family: Arial;
	font-size: 0.9em;
}

h4 {
	font-family: Arial;
	font-size: 0.8em;
}

ul {
	font-family: Arial;
	font-size: 0.7em;
}

p {
	font-family: Helvetica;
	font-size: 0.7em;
}

footer {
	padding-bottom: 400px;
}

