body {
	background-image: url("images/seacopy.jpg");
	background-attachment: fixed;
	height:300px;
	width: 300px;
	overflow:scroll;
}

IMG.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

li {
	font-family: Helvetica;
	font-size: 0.8em;
	color: black;
}

a {
	color: black;
}

a:hover {
	background-color: deeppink;
}

h1 {
	font-family: Georgia;
	font-size: 9em;
	color: deeppink;
}

h2 {
	font-family: Arial;
	font-size: 2.5em;
	color: deeppink;
}

h3 {
	font-family: Arial;
	color: deeppink;
	font-size: 1.6em;
}

h4 {
	font-family: Arial;
	font-size: 1.4em;
	color: deeppink;
}

h5 {
	font-family: Arial;
	font-size: 1.3em;
	color: deeppink;
}

ul {
	font-family: Arial;
	font-size: 1.3em;
}

p {
	font-family: Helvetica;
	font-size: 1.3em;
	color: black;
}

footer {
	padding-bottom: 400px;
}



